.signup-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.signup-box{
    width: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--color-black);
    height: auto;
}

input{
    border-radius: 5px;
    border: 1px solid var(--color-black);
    outline: none;
    padding: 8px 15px;
    color: var(--color-black);
    margin: 2px;
}
label{
    display: block;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.btn{
    font-size: 1rem;
    border-radius: 1rem;
    padding:  10px;
    background: var(--color-primary);
    color: var(--color-white);
    width: 6rem;
    margin: 1rem;
}
.btn:disabled{
    background: grey !important ;
}
.btn-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    color: red;
}
span{
    color: var(--color-primary);
}
.backsignup{
    position: absolute;
    top: 1rem;
    border-radius: 50%;
    padding: 5px;
    transition: var(--transition);
    background: var(--color-primary);
    color: var(--color-white);
}
.backsignup:hover{
    background: var(--color-white);
    color:var(--color-primary);
    border: 1px solid var(--color-primary-variant);
}

@media screen and(max-width: 1024px) {
    .signup-box{
      width: 400px;
    }
    .btn{
      font-size: 2rem;
      width: 4rem;
    }
}
  @media screen and (max-width: 600px) {
    .signup-box{
      width: 325px !important;
    }
    
}
