.services-container {
  width: var(--container-md);
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.services-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  margin-top: 2rem;
  gap: 1rem;
}

.services-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  background-clip: text;
  color: transparent;
}

.services-wrap {
  background-color: transparent;
  transform: scale(1);
  padding: 20px;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--color-primary);
  box-shadow: 0 2px 7px var(--color-primary);
  transition: var(--transition);
  color: var(--color-primary);
  position: relative;
}

.services-wrap:hover {
  background: rgba(0, 128, 128, 0.2);
  transform: scale(1.1) !important;
  color: var(--color-accent);
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90%;
  top: 5rem;
}
.services-logo {
  font-size: 50px;
  position: absolute;
  top: 2rem;
}

.services-content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}
.services-content span {
  color: var(--color-gray);
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .services-title {
    font-size: 1.5rem;
  }
  .services-logo {
    top: 3rem;
  }

  .services-content {
    top: 6rem;
  }
  .services-content h2 {
    font-size: 1.1rem;
  }
  .services-content span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .services-title {
    font-size: 1.2rem;
  }
  .services-logo {
    top: 3rem;
  }

  .services-content {
    top: 6rem;
  }
  .services-content h2 {
    font-size: 1rem;
  }
  .services-content span {
    font-size: 0.8rem;
  }
}
