.patient-container {
  width: var(--container-lg);
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.bubble {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 70px;
  height: 70px;
  border: none;
  background: var(--color-accent);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  transition: var(--transition);
  cursor: pointer;
}
.bubble:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}
.patient-container h1 {
  font-size: 1.2rem;
}
.patient-title {
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  background-clip: text;
  color: transparent;
}
.patient-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
}
.patient-wrap {
  margin-top: 10px;
  height: max-content;
  display: flex;
  align-items: center;
  word-wrap: normal;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 2px 2px 2px 2px var(--color-secondary);
  position: relative;
  transform: scale(1);
  transition: var(--transition);
  z-index: 1;
}
.doctor-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  color: var(--color-white);
  font-size: 70px;
}
.doctor-icon-container {
  background: var(--color-primary);
  height: 200px;
  border-radius: 10px 0 0 10px;
}

.doctor-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.doctor-name {
  font-size: 0.8rem;
  color: var(--color-primary);
}
.doctor-speciality {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--color-accent);
}

.btn-book {
  width: 12rem;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 7px;
  background: var(--color-primary-variant);
  color: var(--color-black);
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
  margin-top: 0.5rem;
}

.btn-book:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn-pay {
  width: 12rem;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 7px 10px;
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
  margin-top: 0.5rem;
  background: var(--color-secondary);
  color: var(--color-black);
}
.btn-pay:hover {
  background: var(--color-accent);
  color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  .patient-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .patient-title {
    font-size: 1.5rem;
  }
  .btn-book {
    font-size: 0.9rem;
    padding: 7px;
  }
  .btn-pay {
    font-size: 0.9rem;
    padding: 7px;
  }
  .patient-wrap {
    height: 190px;
  }
  .doctor-icon-container {
    height: 190px;
  }
  .doctor-icon {
    font-size: 50px;
    margin: 4rem;
  }
  .doctor-name {
    font-size: 0.7rem;
  }
  .doctor-location {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .patient-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .patient-title {
    font-size: 1.2rem;
  }
  .btn-book {
    width: 9rem;
    font-size: 0.8rem;
    padding: 5px;
  }
  .btn-pay {
    width: 9rem;
    font-size: 0.8rem;
    padding: 5px 20px;
  }
  .patient-wrap {
    height: 175px;
  }
  .doctor-icon-container {
    height: 175px;
  }
  .doctor-icon {
    font-size: 50px;
    margin: 4rem;
  }
  .doctor-name {
    font-size: 0.6rem;
  }
  .doctor-location {
    font-size: 0.7rem;
  }
  .bubble {
    width: 40px;
    height: 40px;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.4rem;
  }
}
