.modal-logout,
.overlay-logout {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay-logout {
  background: rgba(49, 49, 49, 0.8);
  backdrop-filter: blur(4px);
  z-index: 3;
}
.modal-content-logout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white);
  background-image: url(../../../assets/large-triangles.svg);
  background-size: cover;
  padding: 0 2rem;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-white);
  z-index: 3;
}

.close-modal-logout {
  position: absolute;
  color: var(--color-accent);
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  bottom: 1rem;
  padding: 5px 7px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}
.close-modal-logout:hover {
  transform: scale(1.2);
}
