
.hospital-container{
    width: var(--container-lg);
    text-align: center;
}
.hospital-grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;


}

.title{
    font-size: 2rem;
    font-weight: 700;
}

.hospital-wrap{
    margin-top: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    overflow-x: hidden;
    word-wrap:normal;
    border-radius: 10px;
    background: var(--color-white);
    box-shadow: 0px 2px 0px 0px gray;
    position: relative;
    transform: scale(1);
    transition: var(--transition);
    cursor: pointer;
}
.hospital-wrap:hover{
    transform: scale(1.02) !important;
    box-shadow: 0px 2px 10px .1px gray;
}
.hospital-logo{
    position: absolute;
    top: 1rem;
}
.hospital-content{
    position: absolute;
    top: 6rem;
}
.hospital-wrap h1{
    font-size: 1.2rem;
    color: var(--color-black);
    font-weight: 600;
    
}


@media screen and (max-width:1024px){
    .hospital-grid{
        grid-template-columns: repeat(2,1fr);
    }

}


@media screen and (max-width:600px){
    .hospital-grid{
        grid-template-columns: repeat(1,1fr);
    }

}
    