
.header-container{
    width: 100%;
    margin: 0 auto;

}

.header-content{
    background-image: linear-gradient(to bottom, rgba(0, 128, 128, 0.2), rgba(0, 128, 128, 0.0));
    height: 100vh;
    clip-path:circle(0% at 50% 0%);
    animation:clip-path 2s ease-in-out;

    
}
.header-content img{
  
}


@keyframes clip-path {
    0% {
      clip-path: circle(0% at 50% 0%);
    }
  
    100% {
      clip-path: circle(100% at 50% 0%);
    }
  }
