.container{
    width: 100vw;
}
.nav-content{
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    padding: 1rem;
    height: 5rem;
    box-shadow: 1px 1px 15px .5px rgb(148, 147, 147);
    align-items: center;
    font-size: 1rem;
    
}
.nav-image{
    width: 200px;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;    

}

.logout{
    display: flex;
    align-items: center;
}
.login{
    display: flex;
    align-items: center;
}


.nav-links{
   
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: uppercase;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}




  
 /* .btn-hover{
    font-size: 1rem;
    border-radius: 1rem;
    padding:  10px;
    background: var(--color-primary);
    color: var(--color-white);
    width: 6rem;
    margin: 1rem;
    border: 1px solid var(--color-primary-variant);
    transition: var(--transition);
    position: relative ;
    overflow: hidden;
   } 
.btn-hover::after{
    content: 'Log Out';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    background: var(--color-white);
    padding:  10px;
    border: 1px solid var(--color-primary-variant);
    border-radius: 1rem;
    font-size: 1rem;
    margin: 1rem;
    color: var(--color-primary);
    transition: var(--transition);
    top: -20px;
    left: 100px;
    height: 30px;
   
}
.btn.btn-hover:hover::after{
    top: -20px;
    left:-26px;
   
}  */

@media screen and (max-width:1024px) {
    .nav-content{
        font-size: 15px;
    }
    .btn{
        font-size: 10px;
    }
}
@media screen and(max-width:600px) {
    .nav-content{
        font-size: 12px;
    }
}