.nav-content{
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    padding: 1rem;
    height: 5rem;
    box-shadow: 1px 1px 15px .5px rgb(148, 147, 147);
    align-items: center;
}
.nav-image{
    width: 200px;
    height: 200px;

}
.btn{
    margin-right: 3rem;
}

.nav-links{
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
