@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Monoton&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Poppins', 'sans-serif';
}

:root{
  --color-primary:#00867e;
  --color-primary-variant:rgb(0,128,128,0.5);
  --color-white:white;
  --color-black:black;
  --color-gray:gray;


  --transition: all 400ms ease;

  --container-lg:95%;
  --container-md:86%;
  --container-sm:80%;
}
html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}
.container{
  width: var(--container-lg);
  margin: 0 auto;
}

.btn{
  font-size: 1rem;
  border-radius: 1rem;
  padding:  10px;
  background: var(--color-primary);
  color: var(--color-white);
  width: 6rem;
  margin: 1rem;
  border: 1px solid var(--color-primary-variant);
  transition: var(--transition);
}

.btn:hover{
  background: var(--color-white);
  color: var(--color-primary);

}
@media screen and (max-width: 1024px) {
  .btn{
    width: 5rem !important;
    font-size: .7rem !important;
  }
}
@media screen and (max-width: 600px) {

  .btn{
    font-size: .5rem !important;
    width:4rem !important;
  }
}

