@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Monoton&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Poppins', 'sans-serif';
}

:root{
  --color-primary:#00867e;
  --color-primary-variant:rgb(0,128,128,0.5);


  --transition: all 400ms ease;

  --container-lg:90%;
  --container-md:86%;
  --container-sm:80%;
}
.container{
  width: var(--container-lg);
}
@media screen and(max-width: 1280px) {
  .container{
    width: var(--container-md) ;
  }
}
@media screen and(max-width: 768px) {
  .container{
    width: var(--container-sm) ;
  }
}

