@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Monoton&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Poppins', 'sans-serif';
}

:root{
  --color-primary:#00867e;
  --color-primary-variant:rgb(0,128,128,0.5);
  --color-white:white;
  --color-black:black;


  --transition: all 400ms ease;

  --container-lg:90%;
  --container-md:86%;
  --container-sm:80%;
}
.container{
  width: var(--container-lg);
}

.btn{
  font-size: 1rem;
  border-radius: 1rem;
  padding:  10px;
  background: var(--color-primary);
  color: var(--color-white);
  width: 6rem;
  margin: 1rem;
  border: 1px solid var(--color-primary-variant);
  transition: var(--transition);
}

.btn:hover{
  background: var(--color-white);
  color: var(--color-primary);

}
@media screen and(max-width: 1024px) {
  .container{
    width: var(--container-md) ;
  }
  .btn{
    font-size: 2rem;
    width: 4rem;
  }
}
@media screen and(max-width: 768) {
  .container{
    width: var(--container-sm) ;
  }
  .btn{
    font-size: 1rem;
    width: rem;
  }
}

