.modal-text {
  position: fixed;
  bottom: 2rem;
  right: 6rem;
  background: var(--color-white);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 400px;
  color: var(--color-accent);
  text-align: justify;
  transition: var(--transition);
}

.message-list li {
  list-style-type: none;
}

.message-list p {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .modal-text {
    width: 400px;
  }
  .message-list p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .modal-text {
    width: 300px;
    right: 5rem;
  }
  .message-list p {
    font-size: 1rem;
  }
}
