.modal-text {
  position: fixed;
  bottom: 4rem;
  right: 7rem;
  background: var(--color-accent);
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 10px 10px 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 400px;
  color: var(--color-black);
  text-align: left;
  transition: var(--transition);
  z-index: 2;
}

.modal-text:before {
  content: "";
  position: absolute;
  right: -40px;
  bottom: 0;
  height: 40px;
  width: 40px;
  border-bottom-right-radius: 50%;
  transform: rotate(90deg);
  /* background: #000; */
  box-shadow: 0 20px 0 0 var(--color-accent);
}

.message-list li {
  list-style-type: none;
}
.message-list h4 {
  font-size: 1.5rem;
}
.message-list p {
  font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
  .modal-text {
    width: 400px;
  }
  .message-list h4 {
    font-size: 1.4rem;
  }
  .message-list p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .modal-text {
    width: 300px;
    right: 5rem;
    bottom: 3rem;
  }
  .message-list h4 {
    font-size: 1.2rem;
  }
  .message-list p {
    font-size: 1rem;
  }
}
